---
import Layout from '../layouts/Layout.astro';
import FeaturedNews from '../components/FeaturedNews.astro';
import MarketOverview from '../components/MarketOverview.astro';
import NewsList from '../components/NewsList.astro';
---

<Layout>
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
	<FeaturedNews />
	<MarketOverview />
	<NewsList />
	</div>
</Layout>
